@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
html,
body {
  font-family: "Mulish", sans-serif;
}

.text-light-color {
  color: #626262;
}

.text-dark-color {
  color: #111111;
}

.title-1 {
  font-size: 59px;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 2rem;
}

.title-2 {
  font-size: 40px;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 2rem;
}

.title-3 {
  font-size: 25px;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 2rem;
}

.inputcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inputcontainer .text-center {
  width: 375px;
  position: relative;
}
.inputcontainer .text-center .baselabel {
  text-transform: uppercase;
  position: absolute;
  font-size: 12px;
  background-color: white;
  padding: 5px;
  left: 40px;
  top: -2px;
  padding-bottom: 0;
}
.inputcontainer .text-center .baseinput {
  margin: 10px;
  min-width: 335px;
  border: 2px solid #dbe3f5;
  border: 2px solid #dbe3f5;
  border-radius: 50px;
  padding: 12px 20px;
  z-index: -1;
}
.inputcontainer .color-grey {
  color: #dbe3f5;
}

.custom-btn {
  background-color: #111111;
  border: #111111 solid 2px;
  color: white;
  padding: 1rem;
}
.custom-btn:hover {
  border: #111111 solid 2px;
  background-color: transparent;
}
.custom-btn:active {
  padding: 0.85rem;
  border: #111111 solid 4px;
}

.bottom-menu-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.779);
  /* icon placements */
  /* icons */
}
.bottom-menu-container .menuLinkIcons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.bottom-menu-container .menu-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  font-size: 24px;
  color: #222529;
  text-decoration: none;
}
.bottom-menu-container .menu-link:hover {
  text-decoration: none;
  color: #dbe3f5;
  cursor: pointer;
}
.bottom-menu-container .active {
  background-color: #dbe3f5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.star-rating {
  font-size: 2em;
  display: flex;
  text-align: left;
}

.star-rating span {
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
}

.star-rating span.on {
  color: #FFBE00;
}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.on {
  color: #FFBE00;
}

.off {
  color: #ccc;
}

.Review-Container {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin-top: 5rem;
}

.review-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.header-section {
  display: grid;
  grid-template-columns: 25px auto 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-section .page-heading {
  font-size: 1.125rem;
  color: #111111;
  font-weight: 600;
  margin-bottom: 16px;
}
.header-section .logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: #111111;
  position: relative;
}
.header-section .logo::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 3px;
  border-radius: 2px;
  background-color: #111111;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
}
.header-section .search input {
  border: none;
  margin-left: 10px;
}

.showcase {
  background: #dbe3f5;
}
.showcase .container {
  height: 600px;
  display: flex;
  margin-left: 15px;
  margin-bottom: 15px;
}
.showcase .container .content {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-bottom: 30px;
}
.showcase .container .content .titles {
  text-align: left;
  color: #ffffff;
}
.showcase .container2 {
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.showcase .container2 .content {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.showcase .container2 .content .titles {
  margin-left: 10px;
  color: #ffffff;
}
.showcase .container2 .content .btn {
  margin-left: 10px;
  margin-top: 5px;
  margin-Bottom: 40px;
  padding: 25px 60px;
  background-color: #ffffff;
  border-radius: 300px;
}
.showcase .container2 .content .btn:hover {
  background-color: #111111;
  color: #ffffff;
  text-decoration: none;
}

.product-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-grid .home-container {
  max-width: 1110px;
}
.product-grid .home-container .slide-container {
  display: flex;
  align-items: center;
  max-width: 70rem;
  overflow-y: auto;
}
.product-grid .home-container .item-container {
  display: flex;
  overflow-y: hidden;
  justify-content: left;
  margin-left: 15px;
  margin-bottom: 25px;
}
.product-grid .title {
  font-size: 25px;
  font-weight: bolder;
  text-align: left;
  margin-left: 1.5rem;
}
.product-grid .titleBestSeller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 375px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.product-grid .titleBestSeller .title2 {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  text-align: right;
}
.product-grid .card {
  z-index: 0;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  min-width: 23rem;
}
.product-grid .card .card-img-container {
  display: grid;
  position: relative;
}
.product-grid .card .card-img-container .card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}
.product-grid .card .card-img-container .card-menu .menu-link {
  background-color: none;
  color: #222529;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
}
.product-grid .card .card-img-container .card-menu .menu-link:hover {
  color: #dbe3f5;
  text-decoration: none;
}
.product-grid .card .card-img-container .card-menu .menu-link #card-heart:active {
  color: red;
}
.product-grid .card .card-img-container .btn-theme {
  position: absolute;
  bottom: 0;
}
.product-grid .card .card-body {
  text-align: center;
}
.product-grid .card .card-body .card-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 100;
  text-align: left;
}
.product-grid .card .card-body .card-price {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
}
.product-grid .card:hover .card-menu {
  display: block !important;
}
.product-grid .card:hover .btn-theme {
  display: block !important;
}

.get-started-root {
  background-color: #dbe3f5;
  overflow: hidden;
}
.get-started-root .get-started {
  display: inline;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.get-started-root .get-started .inner-circle {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.get-started-root .get-started .outer-circle {
  position: absolute;
  border: 5px solid white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.get-started-root .get-started img {
  position: absolute;
}

.get-started-welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height: 100dvh;
  background-color: #dbe3f5;
  overflow: hidden;
}

.carouselroot {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100dvh;
  z-index: -2;
  background-color: #dbe3f5;
}
.carouselroot .carouselbtn {
  display: none;
}
.carouselroot .title-1 {
  font-size: 32px;
}
.carouselroot .content {
  font-size: 16px;
}
.carouselroot .button-container {
  width: 255px;
  height: 50px;
  margin-bottom: 80px;
}
.carouselroot .button-container .custom-btn {
  height: 50px;
  padding: 0;
}
.carouselroot .inner-circle {
  position: absolute;
  background-color: white;
  width: 415px;
  height: 415px;
  border-radius: 50%;
  z-index: -1;
  bottom: -15px;
}
.carouselroot .outer-circle {
  position: absolute;
  border: 5px solid white;
  width: 475px;
  height: 475px;
  border-radius: 50%;
  z-index: -1;
  bottom: -45px;
}
.carouselroot .carousel-indicators [data-bs-target] {
  bottom: 0px;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carouselroot .carousel-indicators .active {
  width: 20px;
  border-radius: 50px;
}

.welcomecontent {
  display: none;
}

.voucher-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.promo-current-link {
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  width: 89px;
  height: 28px;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
  text-decoration-line: none;
  background-color: #111111;
  color: #ffffff;
}

.promo-used-link {
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  width: 89px;
  height: 28px;
  font-size: 14px;
  font-weight: 400;
  padding: 4px;
  text-decoration-line: none;
  color: black;
  background-color: #dbe3f5;
}

.promo-current-link:hover,
.promo-used-link:hover {
  color: #ffffff;
  background-color: #111111;
}

.promo-current-link.active,
.promo-used-link.active {
  background-color: #111111;
  color: #ffffff;
}

.containerpro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}

.promo-company-info {
  display: block;
  margin-left: 40px;
  width: 80%;
  height: 80%;
  padding: 0px;
}

.promo-copy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 50px;
  height: 20px;
}

.promored {
  color: red;
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 5px;
}

.promoyellow {
  color: rgb(194, 155, 28);
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 5px;
}

.promogreen {
  color: rgb(9, 188, 9);
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 5px;
}

.promo-company-name {
  font-size: 18px;
  font-weight: 600;
}

.promo-company-info {
  font-size: 14px;
  font-weight: 400;
}

.promo-validation {
  font-size: 14px;
  font-weight: 400;
}

.copied-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.top-back-and-text {
  display: flex;
  justify-content: center;
  padding-left: 5%;
}

.promo-head {
  font-weight: 400;
  font-size: 18px;
}

.promocodes-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.promo-rectangle-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.promo-h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0px;
}

.promo-text-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.promo-btn {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vh;
}

.promo-validation {
  display: flex;
  justify-content: center;
}

.promo-expired .promo-used {
  color: #f4303c;
}

.verify-number {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}
.verify-number .message {
  margin: 0px 0px 20px 15px;
}
.verify-number .inputcontainer {
  position: relative;
  display: inline-block;
  display: flex;
}
.verify-number .inputcontainer .text-center {
  width: 355px;
}
.verify-number .inputcontainer .text-center .baseinput {
  padding-left: 70px;
}
.verify-number .inputcontainer .text-center .custom-btn {
  max-width: 335px;
}
.verify-number .phone-number-input {
  position: relative;
  display: inline-block;
}
.verify-number .country-flag {
  position: absolute;
  top: 28px;
  left: 45px;
  width: 25px;
  height: 17px;
  background-size: cover;
}
.verify-number .media-border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirm-code {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}
.confirm-code input {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.confirm-code input:valid {
  background-color: #dbe3f5;
}
.confirm-code input:invalid {
  background-color: white;
}
.confirm-code .resend-link {
  color: #111111;
  text-decoration: none;
}

.vr {
  background-color: #111111;
  width: 2px;
  opacity: 1;
  height: 30px;
  margin-top: 40px;
}

.headline {
  font-weight: 700;
  font-size: 2rem;
  color: #111111;
}

.register-link {
  text-decoration: none;
}

.socials-btn-row button {
  border: solid 2px #dbe3f5;
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
}
.socials-btn-row button:hover {
  border: solid 3px #dbe3f5;
}
.socials-btn-row button:active {
  border: solid 4px #dbe3f5 !important;
}
.socials-btn-row .fa-facebook-f {
  color: #3b5999;
}
.socials-btn-row .fa-twitter {
  color: #55acee;
}
.socials-btn-row .fa-google-plus-g {
  color: #dd4b39;
}

.nav-link-name-toggle {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111111;
  font-size: 22px;
  transition: 0.5s;
}
.nav-link-name-toggle .contacttext {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 1rem;
}

.sidebar-p {
  display: flex;
  align-items: center;
  font-size: 14px;
  overflow: hidden;
  color: #ffffff;
  margin-left: 1rem;
}
.sidebar-p .icons {
  margin-right: 10px;
  font-size: 23px;
}

.sidebarcontactus {
  z-index: 9;
  position: relative;
  top: 0;
  height: 33vh;
  width: 0px;
  background-color: #111111;
}

.showcontact {
  width: 275px;
  top: 0;
}

.contactpage {
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: #ffffff;
}

main {
  margin: 3rem 0 0 0;
  padding: 0 1rem;
  font-size: 22px;
  transition: 0.5s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.header-toggle {
  cursor: pointer;
}

.sidebar {
  z-index: 9;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 0px;
  background-color: #111111;
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
}

.nav-logo,
.nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: #ffffff;
}

.nav-logo {
  margin-bottom: 2rem;
  text-decoration-line: none;
}

.nav-logo-name {
  font-weight: 700;
  color: #ffffff;
}

.nav-link {
  position: relative;
  transition: 0.5s;
  margin-bottom: 1.5rem;
}

.nav-link:hover {
  color: #dbe3f5;
  background-color: rgba(0, 0, 0, 0.1);
}

.actives {
  color: #ffffff;
}

.active::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  width: 3px;
  transition: 0.5s;
}

.header {
  height: 5rem;
  padding-left: 1rem;
}

.sidebar {
  left: 0;
  padding: 1rem 0 0 0;
}

.show {
  width: 275px;
  left: 0;
}

.space-toggle {
  z-index: 1;
  padding-left: 285px;
}

.inputBox {
  position: relative;
  margin: 20px 10px 0px 20px;
  width: 230px;
}
.inputBox .text-trackorder {
  position: absolute;
  text-decoration: none;
  font-size: 14px;
  transform: translateX(-5px) translateY(-135px);
  color: #B3B9C7;
}
.inputBox .icon {
  color: rgba(179, 185, 199, 0.5843137255);
  position: relative;
  transform: translateX(185px) translateY(-46px);
  font-size: 40px;
}

.inputBox input {
  height: 50px;
  width: 100%;
  border: 1px solid #B3B9C7;
  background: #111111;
  border-radius: 25px;
  outline: none;
  color: #ffffff;
  font-size: 18px;
}

.inputBox label {
  position: absolute;
  left: 0;
  color: #B3B9C7;
  transform: translateX(20px) translateY(-60px);
  font-size: 12px;
  padding: 0 6px 0 6px;
  background: #111111;
}

.password-image {
  height: 200px;
  width: 200px;
}

.button-container {
  width: 335px;
}

.text-box {
  max-width: 335px;
}

.wishlist-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "img img info info info btns";
  margin-bottom: 5vh;
}
.wishlist-container .wishlist-img {
  grid-area: img;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
.wishlist-container .wishlist-info {
  grid-area: info;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: left;
  margin-left: 10px;
}
.wishlist-container .wishlist-btns {
  grid-area: btns;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wishlist-container .wishlist-btns #heart {
  color: red;
}
.wishlist-container .wishlist-btns #bag {
  color: white;
  background-color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.wishlist-container .wishlist-btns .menu-link {
  border: none;
  background: none;
}
.wishlist-container .wishlist-btns .menu-link:hover {
  color: #dbe3f5 !important;
  text-decoration: none;
}

.bestproduct-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestproduct-grid .bestproductscontainer .bestproductsitem-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bestproduct-grid .title {
  font-size: 40px;
  font-weight: bolder;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.bestproduct-grid .card {
  z-index: 0;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  min-width: 29rem;
}
.bestproduct-grid .card .card-img-container {
  display: grid;
  position: relative;
}
.bestproduct-grid .card .card-img-container .card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}
.bestproduct-grid .card .card-img-container .card-menu .menu-link {
  background-color: none;
  color: #222529;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
.bestproduct-grid .card .card-img-container .card-menu .menu-link:hover {
  background-color: #222529;
  color: #ffffff;
  text-decoration: none;
}
.bestproduct-grid .card .card-img-container .btn-theme {
  position: absolute;
  bottom: 0;
}
.bestproduct-grid .card .card-body {
  text-align: center;
}
.bestproduct-grid .card .card-body .card-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 100;
  text-align: left;
}
.bestproduct-grid .card .card-body .card-price {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
}
.bestproduct-grid .card:hover .card-menu {
  display: block !important;
}
.bestproduct-grid .card:hover .btn-theme {
  display: block !important;
}

.salesBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.salesBtnContainer .salesIcons {
  position: absolute;
  transform: translateX(-28rem) translateY(2rem);
  color: #626262;
  border: none;
  background-color: #ffffff;
}
.salesBtnContainer .filterIcon {
  margin-right: -1rem;
}
.salesBtnContainer .sortingIcon {
  margin-left: -1rem;
}
.salesBtnContainer .dropdownbutton {
  position: relative;
  transform: translateX(27rem) translateY(2rem);
  color: #626262;
  border: none;
  text-decoration: none;
  background-color: #ffffff;
}
.salesBtnContainer .dropdown {
  position: relative;
  display: inline-block;
}
.salesBtnContainer .dropdown-content {
  display: none;
  position: absolute;
  padding-left: 0px;
  list-style-type: none;
  transform: translateX(27rem) translateY(2rem);
  background-color: #ffffff;
  z-index: 1;
}
.salesBtnContainer .dropdown:hover .dropdown-content {
  display: block;
}
.salesBtnContainer .dropdownitems {
  display: inline;
  border: none;
  background-color: #ffffff;
  font-size: 14px;
}
.salesBtnContainer .dropdownitems:hover {
  display: block;
}

.search-container {
  border: none;
}
.search-container .search-mag-glas {
  background-color: none;
  margin-left: 25px;
  margin-right: 10px;
}
.search-container .search-field {
  border: none;
  outline: none;
}

.genders-container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
.genders-container .gender-buttons {
  display: flex;
  align-items: center;
  max-width: 70rem;
  overflow-y: hidden;
}
.genders-container .gender-buttons .gender-button {
  border: none;
  margin-left: 2.5vh;
  margin-right: 2.5vh;
}
.genders-container .gender-buttons .active {
  text-decoration: none;
  background-color: #dbe3f5;
  border-radius: 25px;
  cursor: pointer;
}

.search-column-container {
  margin-bottom: 7vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.search-column-container .category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}
.search-column-container .category-buttons .category-button {
  background-color: #8D94A6;
  font-weight: bolder;
  margin: 1px;
  height: 22.5vh;
  width: 22.5vh;
  color: white;
  border: none;
  padding-top: 120px;
  padding-right: 100px;
}
.search-column-container .category-buttons .category-button:hover {
  background-color: #384158;
}

.filtred-products-container .filtred-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4vh;
}
.filtred-products-container .filtred-products .card {
  z-index: 0;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  min-width: 20rem;
}
.filtred-products-container .filtred-products .card .card-img-container {
  display: grid;
  position: relative;
}
.filtred-products-container .filtred-products .card .card-img-container .card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
}
.filtred-products-container .filtred-products .card .card-img-container .card-menu .menu-link {
  background-color: none;
  color: #222529;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
}
.filtred-products-container .filtred-products .card .card-img-container .card-menu .menu-link:hover {
  color: #dbe3f5;
  text-decoration: none;
}
.filtred-products-container .filtred-products .card .card-img-container .card-menu .menu-link #card-heart:active {
  color: red;
}
.filtred-products-container .filtred-products .card .card-img-container .btn-theme {
  position: absolute;
  bottom: 0;
}
.filtred-products-container .filtred-products .card .card-body {
  text-align: center;
}
.filtred-products-container .filtred-products .card .card-body .card-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 100;
  text-align: left;
}
.filtred-products-container .filtred-products .card .card-body .card-price {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
}
.filtred-products-container .filtred-products .card:hover .card-menu {
  display: block !important;
}
.filtred-products-container .filtred-products .card:hover .btn-theme {
  display: block !important;
}

.cart-container {
  display: grid;
  grid-template-columns: 1fr 2fr 0.25fr;
  grid-template-areas: "img info btns";
}

.cart.img {
  grid-area: img;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.cart-info {
  grid-area: info;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 40px;
}

.cart-info-name {
  margin-bottom: 20px;
}

.cart-btns {
  grid-area: btns;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}

.cart-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.menu-icons {
  position: relative;
  z-index: 2;
}

.order-container {
  display: grid;
  grid-template-columns: 1fr 2fr 0.25fr;
  grid-template-areas: "img info btns";
}

.order-img {
  grid-area: img;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.order-info {
  grid-area: info;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 40px;
}

.order-info-name {
  margin-bottom: 20px;
}

.order-btns {
  grid-area: btns;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
  align-items: center;
}

.order-total-price {
  display: flex;
  justify-content: space-between;
}

.order-btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.menu-icons {
  position: relative;
  z-index: 2;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 10px;
}

.checkout-container {
  display: flex;
  justify-content: space-around;
  margin-left: 0;
}

.checkout-form {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 2rem;
}

.area {
  border-radius: 10px;
  width: 300px;
}

.shipping-address {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.checkout-info {
  margin-left: 10px;
}

.checkout-info-order {
  display: flex;
  justify-content: space-between;
}

.p-info {
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.menu-icons {
  position: relative;
}

.info-color {
  background-color: rgb(235, 245, 247);
}

.totItem {
  display: flex;
  flex-direction: column;
}

.totPrice {
  display: flex;
  justify-content: space-between;
}

.discount {
  display: flex;
  justify-content: space-between;
}

.delivery {
  display: flex;
  justify-content: space-between;
}

.check-inf {
  display: flex;
  justify-content: space-between;
}

.semi {
  font-size: 18px;
  font-family: "Mulish";
  font-weight: 600;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.shippment-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0px;
}*/
.shippment-img {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.form-shipp {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.form-shipp-input {
  color: red;
  background-color: red;
  cursor: pointer;
}

.shipp-checkbox {
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.shipp-checkbox-input {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.Review-Container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.revpicture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  margin-bottom: -1rem;
}

.revText {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 1rem;
}

.revText-small {
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.review-inputBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-inputBox input {
  height: 111px;
  width: 335px;
  border: 2px solid #DBE3F5;
  border-radius: 25px;
  outline: none;
  color: #222529;
  font-size: 18px;
  padding: 0 12px 60px;
  display: inline-block;
}

.review-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.review-btn .review-btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 335px;
  border-radius: 25px;
  background-color: #111111;
  border: #111111 solid 2px;
  color: white;
  margin-bottom: 1rem;
}
.review-btn .review-btn-submit:hover {
  border: #222529 solid 2px;
  background-color: transparent;
  color: #222529;
}
.review-btn .review-btn-submit:active {
  border: #111111 solid 3px;
}

.payment-container {
  margin: 20px;
}

.payment-header {
  margin-top: 20px;
}

.payment-custom-radio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment-color {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 248, 250);
}

.order-completed-img {
  margin-top: 80px;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

h4 {
  text-align: center;
  margin-top: 40px;
}