html,
body{
  font-family: 'Mulish', sans-serif;
}

.text-light-color {
	color: $color-text-light;
}
.text-dark-color {
	color: $color-blackish;
}

.title-1 {
    font-size: 59px;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 2rem;
}


.rating {
  color: $color-rating;  
}