.bestproduct-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .bestproductscontainer {
        .bestproductsitem-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .title {
        font-size: 40px;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .card {
        z-index: 0;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
        min-width: 29rem;

        .card-img-container {
            display: grid;
            position: relative;

            .card-menu {
                position: absolute;
                top: 10px;
                right: 10px;
                display: block;

                .menu-link {
                    background-color: none;
                    color: $color-dark;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;

                    &:hover {
                        background-color: $color-dark;
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
            .btn-theme {
                position: absolute;
                bottom: 0;
                
                
            }
        }

        .card-body {
            text-align: center;

            .card-title {
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: 100;
                text-align: left;
            }

            .card-price {
                margin-top: 1rem;
                font-size: 18px;
                font-weight: 100;
                text-align: left;
            }
        }

        &:hover {
            .card-menu {
                display: block !important;
            }
            .btn-theme {
                display: block !important;
            }
        }
    }
    
    
}

.salesBtnContainer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 3rem;

 

    .salesIcons{
        position: absolute;
        transform: translateX(-27rem) translateY(2rem);
        color: #626262;
        border: none;
        background-color: $color-white;
        
    }
  
    .dropdownbutton{
        position: relative;
        transform: translateX(26rem) translateY(2rem);
        color: #626262;
        border: none;
        background-color: $color-white;
    }

      .dropdown {
        position: relative;
        display: inline-block;
        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        padding-left: 0px;
        list-style-type: none;
        transform: translateX(26rem) translateY(2rem);
        background-color: $color-white;
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      

    .dropdownitems{
      display: inline;
      border: none;
      background-color: $color-white;
      font-size: 13px;
      &:hover {
        display: block;
    }
}
}