
.bestproduct-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .salesBtnContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;    
    
        .salesIcons{
            color: #626262;
            border: none;
            background-color: $color-white;
        }
        .dropdownbutton{
            color: #626262;
            border: none;
            text-decoration: none;
            background-color: $color-white;
        }
          
          .dropdown-content {
            display: none;
            position: absolute;
            padding-left: 0px;
            list-style-type: none;
            background-color: $color-white;
            z-index: 1;
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          
        .dropdownitems{
          display: inline;
          border: none;
          background-color: $color-white;
          font-size: 12px;
          &:hover {
            display: block;
        }
    }
}

    .bestproductscontainer {
        .bestproductsitem-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 2rem;
        }
    .title {
        font-size: 40px;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .card {
        z-index: 0;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
        min-width: 2rem;

        .card-img-container {
            display: grid;
            position: relative;

            .card-menu {
                position: absolute;
                top: 10px;
                right: 10px;
                display: block;

                .menu-link {
                    background-color: none;
                    color: $color-dark;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;

                    &:hover {
                        background-color: $color-dark;
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
            .heart{
                border: none;
                background: none;
                font-size: 16px;
                color: black;
                cursor: pointer;
                transition: color 0.3s ease;
            }
            .heart:hover {
                color: red;
              }
              
              .heart-active {
                border: none;
                background: none;
                font-size: 24px;
                color: red;
                cursor: pointer;
                transition: color 0.3s ease;
              }
            }
            .btn-theme {
                position: absolute;
                bottom: 0;
                
                
            }
            
        }

        .card-body {
            text-align: center;

            .card-title {
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: 100;
                text-align: left;
            }

            .card-price {
                margin-top: 1rem;
                font-size: 18px;
                font-weight: 100;
                text-align: left;
            }
        }

        &:hover {
            .card-menu {
                display: block !important;
            }
            .btn-theme {
                display: block !important;
            }
        }
    }

}