.checkout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;

}


.area {
    border-radius: 15px;
    border: 1px solid rgb(182, 180, 180);
    outline: none;
}

.btn {
    margin: 0px;
}