.confirm-code{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;

    input{
        border-radius: 50%;
        height: 60px;
        width: 60px;
    }

    input:valid{
        background-color: $color-theme;
    }

    input:invalid{
        background-color: white;    
    }

    .resend-link{
        color: $color-blackish;
        text-decoration: none;
    }
}