.header-section {
	display: grid;
	grid-template-columns: 25px auto 25px;
	margin-top: 10px;
	margin-bottom: 10px;

	.page-heading {
		font-size: 1.125rem;
		color: $color-blackish;
		font-weight: 600;
		margin-bottom: 16px;
	}
	.logo {
		font-size: 1.25rem;
		font-weight: 700;
		color: $color-blackish;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			width: 12px;
			height: 3px;
			border-radius: 2px;
			background-color: $color-blackish;
			top: -3px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.search {
		input {
			border: none;
			margin-left: 10px;
		}
	}
}
