.header-section {
	display: grid;
	grid-template-columns: 25px auto 25px;
	margin-top: -10px;
	margin-bottom: 10px;

	.page-heading {
		font-size: 1.125rem;
		color: $color-blackish;
		font-weight: 600;
		margin-bottom: 16px;
	}

	.logo {
		font-size: 1.25rem;
		font-weight: 700;
		color: $color-blackish;
		position: relative;

		&::before {
			position: absolute;
			content: '';
			width: 12px;
			height: 3px;
			border-radius: 2px;
			background-color: $color-blackish;
			top: -3px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.search {
		input {
			border: none;
			margin-left: 10px;
		}
	}

	.shopping-cart-icon {
		color: black;
		position: relative;
		text-align: right;
		margin-right: 0px;
		margin-top: 2.25rem;
		font-size: 1.25rem;

		.cart-icon-amount {
			background-color: red;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
			position: absolute;
			top: 8px;
			right: 45%;
			padding: 2px 5px;
			font-size: 9px;
		}
	}
	.icon-xmark{
		margin-top: 0.75rem;
	}
	.icon-bars{
		margin-top: 2.25rem;
		font-size: 1.25rem;
		color: $color-blackish;
		padding-left: 1rem;
		
	}
	.chevronicon{
		font-size: 1.25rem;
		margin-top: 2.45rem;
	}
}