.order-completed-container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 15px;
}


.order-completed-img {
    margin-top: 80px;
}

h1 {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.h4-under {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-top: 0px;
}

.order-completed-b {
    padding: 10px 120px;
    font-size: 14px;
    font-weight: 600;

    border-radius: 40px;
    background-color: black;
    color: white;
    margin-bottom: 20px;

}

.order-completed-p {

    display: flex;
    justify-content: center;

}

.order-completed-nav {
    font-size: 14px;
    font-weight: 600;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    margin-bottom: 40px;

}