.payment-container {
    margin: 20px;
}

.payment-header {
    margin-top: 20px;
}

.payment-custom-radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-color {
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 248, 250);
}