.payment-method {
	.payment-method-container {
		max-width: 100%;
		width: 600px;
	}

	.slide-container {
		display: flex;
		align-items: center;
		max-width: 70rem;
		overflow-y: auto;

		.card-container {
			display: flex;

			.item-container {
				display: flex;
				overflow-y: hidden;
				justify-content: center;
				margin-left: 15px;
				margin-bottom: 25px;
				position: relative;

				.card-title {
					position: absolute;
					top: 15px;
					left: 25px;
					color: white;
					font-weight: 900;
					font-size: 24px;
				}

				.card-number {
					position: absolute;
					top: 65px;
					left: 25px;
					color: white;
					font-size: 14px;
				}

				.card-name {
					position: absolute;
					top: 120px;
					left: 25px;
					color: white;
					font-size: 12px;
				}

				.card-month {
					position: absolute;
					top: 120px;
					left: 185px;
					color: white;
					font-size: 12px;
				}
				.card-slash {
					position: absolute;
					top: 120px;
					left: 200px;
					color: white;
					font-size: 12px;
				}
				.card-year {
					position: absolute;
					top: 120px;
					left: 205px;
					color: white;
					font-size: 12px;
				}
			}
		}
	}

	.field {
		padding: 0px;
		min-width: 360px;
	}
}
