.top-back-and-text {
    display: flex;
    justify-content: start;
    padding-left: 5%;
  }
  
  .promo-head {
    font-weight: 400;
    font-size: 18px;
    align-self: center;
    padding-left: 35%;
  }