.product-grid {
    .home-container {
        max-width: 1110px;
        
        .slide-container{
            display: flex;
            align-items: center;
            max-width: 70rem;

            overflow-y: auto;
        }

        .item-container{
            display: flex;
            overflow-y: hidden;
            justify-content: center;
            margin-left: 15px;
            margin-bottom: 25px;
        }
    }
    .title {
        font-size: 25px;
        font-weight: bolder;
        text-align: left;
        margin-left: 1.5rem;
        }

    .titleBestSeller{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 375px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    
    

    
        .title2{
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-weight: bolder;
            text-align: right;
        }
    }

    .card {
        z-index: 0;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;
        min-width: 23rem;

        .card-img-container {
            display: grid;
            position: relative;

            .card-menu {
                position: absolute;
                top: 10px;
                right: 10px;
                display: block;

                .menu-link {
                    background-color: none;
                    color: $color-dark;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;
                    background: none;

                    &:hover {
                        color: $color-theme;
                        text-decoration: none;
                    }

            
                }
            
            .heart{
                border: none;
                background: none;
                font-size: 16px;
                color: black;
                cursor: pointer;
                transition: color 0.3s ease;
            }
            .heart:hover {
                color: red;
              }
              
              .heart-active {
                border: none;
                background: none;
                font-size: 24px;
                color: red;
                cursor: pointer;
                transition: color 0.3s ease;
              }
            }
            .btn-theme {
                position: absolute;
                bottom: 0;
                
                
            }
        }

        .card-body {
            text-align: center;

            .card-title {
                margin-top: 1rem;
                font-size: 1rem;
                font-weight: 100;
                text-align: left;
            }

            .card-price {
                margin-top: 1rem;
                font-size: 18px;
                font-weight: 100;
                text-align: left;
            }
        }

        &:hover {
            .card-menu {
                display: block !important;
            }
            .btn-theme {
                display: block !important;
            }
        }
    }
}