.top-back-and-text {
    display: flex;
    justify-content: center;
    padding-left: 5%;
  }
  
  .promo-head {
    font-weight: 400;
    font-size: 18px;

  }

.promocodes-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.promo-rectangle-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.promo-h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0px;
}

.promo-text-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.promo-btn {
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vh;
}

.promo-validation {
    display: flex;
    justify-content: center;
}

.promo-expired .promo-used {
    color: $color-attention;
}


