.voucher-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.promo-current-link {
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    width: 89px;
    height: 28px;
    margin-right: 1rem;
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
    text-decoration-line: none;
    background-color: $color-blackish;
    color: $color-white;
}

.promo-used-link {
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    width: 89px;
    height: 28px;
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
    text-decoration-line: none;
    color: black;
    background-color: $color-theme;
}

.promo-current-link:hover,
.promo-used-link:hover {
  color: $color-white;
  background-color: $color-blackish;
}

.promo-current-link.active,
.promo-used-link.active {
  background-color: $color-blackish;
  color: $color-white;
}

.containerpro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}

.promo-company-info {
  display: block;
  margin-left: 40px;
  width: 80%;
  height: 80%;
  padding: 0px;
  
}



.promo-copy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  width: 50px;
  height: 20px;
}

.promored {
  color: red;
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 5px;
}

.promoyellow {
  color: rgb(194, 155, 28);
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 5px;
}

.promogreen {
  color: rgb(9, 188, 9);
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 5px;
}

.promo-company-name{
  font-size: 18px;
  font-weight: 600;

}

.promo-company-info{
  font-size: 14px;
  font-weight: 400;
}

.promo-validation{
  font-size: 13px;
  font-weight: 400;
}

.copied-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}