.product-grid {
    .container {
        max-width: 1110px;

        .slide-container{
            display: flex;
            align-items: center;
            max-width: 57rem;

            overflow-y: auto;
        }

        .item-container{
            display: flex;
            overflow-y: hidden;
            justify-content: center;
        }
    }

    .title {
        font-size: 40px;
        font-weight: bolder;
        text-align: left;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .card {
        z-index: 0;
        border: none;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        cursor: pointer;
        min-width: 20rem;

        .card-img-container {
            display: grid;
            position: relative;

            .card-menu {
                position: absolute;
                top: 10px;
                right: 10px;
                display: block;

                .menu-link {
                    background-color: $color-white;
                    color: $color-dark;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    outline: none;

                    &:hover {
                        background-color: $color-dark;
                        color: $color-white;
                        text-decoration: none;
                    }
                }
            }
            .btn-theme {
                position: absolute;
                bottom: 0;
                
                
            }
        }

        .card-body {
            text-align: center;

            .card-title {
                font-size: 1rem;
                font-weight: 700;
            }

            .card-price {
                margin-top: 1rem;
                font-size: 18px;
                font-weight: 700;
            }
        }

        &:hover {
            .card-menu {
                display: block !important;
            }
            .btn-theme {
                display: block !important;
            }
        }
    }
}