.top-back-and-text {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0;
  }
  
  .promo-head {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }
  

  

