.search-header{
    position: sticky;
}
.search-container{
    border: none;

    .search-mag-glas{
        background-color: none;
        margin-left: 25px;
        margin-right: 10px;
    }

    .search-field{
        border: none;
        outline: none;

    }
}

.categories-container{
    height: 3rem;
}

    .search-column-container{



        .search-column1{
            grid-area: col1;
            display:flex;
    
            .search-dresses{
                background-color: #8D94A6;
                margin: 1px;
                height: 25vh;
                width: 50%;
            }
            .search-pants{
                background-color: #8D94A6;
                margin: 1px;
                height: 25vh;
                width: 50%;
            }
        }
        .search-column2{
            display: flex;
            grid-area: col2;
    
            .search-accessories{
                background-color: #8D94A6;
                margin: 1px;
                height: 25vh;
                width: 100%;
    
            }
        }
        .search-column3{
            display:flex;
            grid-area: col3;
    
            .search-shoes{
                background-color: #8D94A6;
                margin: 1px;
                height: 25vh;
                width: 50%;
            }
            .search-tshirts{
                background-color: #8D94A6;
                margin: 1px;
                height: 25vh;
                width: 50%;
            }
    
        }

        .category-titles{
            color: white;
            margin-left: 15px;
            margin-top: 10rem;
        }

    }

