
.search-container{
    border: none;


    .search-mag-glas{
        background-color: none;
        margin-left: 25px;
        margin-right: 10px;
    }

    .search-field{
        border: none;
        outline: none;

    }
}

.genders-container{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: auto;

    .gender-buttons{
        display: flex;
        align-items: center;
        max-width: 70rem;

        overflow-y: hidden;

        .gender-button{
            border: none;
            color: black;
            margin-left: 2.5vh;
            margin-right: 2.5vh;
        }
        .active {
            text-decoration: none;
            background-color: $color-theme;
            border-radius: 25px;
            padding-left: 15px;
            padding-right: 15px;
            cursor: pointer;
        }
    }
}

    .search-column-container{
        margin-bottom: 7vh;
        display:flex;
        justify-content: center;
        text-align: center;

        .category-buttons{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1100px;

            .category-button{
                background-color: #8D94A6;
                font-weight: bolder;
                margin: 1px;
                height: 22.5vh;
                width: 22.5vh;
                color: white;
                border: none;
                padding-top: 120px;
                padding-right: 100px;
                
                &:hover{
                    background-color: #384158;
                }
            }
        }

        }
    
    .filtred-products-container{
        .filtred-products{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 4vh;


            .card {
                z-index: 0;
                border: none;
                margin-left: 10px;
                margin-right: 10px;
                text-align: center;
                cursor: pointer;
                min-width: 20rem;
        
                .card-img-container {
                    display: grid;
                    position: relative;

        
                    .card-menu {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        display: block;
        
                        .menu-link-product {
                            background-color: none;
                            color: $color-dark;
                            width: 36px;
                            height: 36px;
                            border-radius: 50%;
                            margin-bottom: 15px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            outline: none;
                            background: none;
        
                            &:hover {
                                color: $color-theme;
                                text-decoration: none;
                            }
        
                
                        }
                        .heart{
                            border: none;
                            background: none;
                            font-size: 16px;
                            color: black;
                            cursor: pointer;
                            transition: color 0.3s ease;
                        }
                        .heart:hover {
                            color: red;
                          }
                          
                          .heart-active {
                            border: none;
                            background: none;
                            font-size: 24px;
                            color: red;
                            cursor: pointer;
                            transition: color 0.3s ease;
                          }
                    }
                    .btn-theme {
                        position: absolute;
                        bottom: 0;
                        
                        
                    }
                }
        
                .card-body {
                    text-align: center;
        
                    .card-title {
                        margin-top: 1rem;
                        font-size: 1rem;
                        font-weight: 100;
                        text-align: left;
                    }
        
                    .card-price {
                        margin-top: 1rem;
                        font-size: 18px;
                        font-weight: 100;
                        text-align: left;
                    }
                }
        
                &:hover {
                    .card-menu {
                        display: block !important;
                    }
                    .btn-theme {
                        display: block !important;
                    }
                }
            }
        
    

        }
    }

