.wishlist-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "img img info info info btns";

    .wishlist-img{
        grid-area: img;
        overflow: hidden;
        display: flex;
        justify-content: center;
        height:100px
    }
    .wishlist-info{
        grid-area: info;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: left;
        margin-left: 10px;

    }
    .wishlist-btns{
        grid-area: btns;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #heart{
            color:red;
        }

        .menu-link{
            border:none;
            background:none;

            &:hover {
                background: black;
                text-decoration: none;
            }
        }


    }
}    