.custom-btn {
	background-color: $color-blackish;
	border: $color-blackish solid 2px;
	color: white;
	padding: 1rem;
	&:hover {
		border: $color-blackish solid 2px;
		background-color: transparent;
	}
	&:active {
		padding: 0.85rem;
		border: $color-blackish solid 4px;
	}
}

.navlinkbutton{
	text-decoration: none;
	border: none;
	height: 0px;
	&:hover {
		text-decoration: none;
		background-color: transparent;
		color: $color-blackish;
		height: 10px;
	}
}