.star-rating {
    font-size: 2em; 
  }
  
  .star-rating span {
    display: inline-block;
    font-size: 25px; 
    cursor: pointer;
  }
  
  .star-rating span.on {
    color: $color-rating; 
  }
  

button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: $color-rating; 
  }
  .off {
    color: #ccc;
  }