.Review-Container{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 5rem;
}

.review-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}